NetbeanProject/build/
NetbeanProject/nbproject/private/
NetbeanProject/nbproject/private/private.xml
NetbeanProject/nbbuild/
NetbeanProject/dist/
NetbeanProject/nbdist/
/ImageEditor2/nbproject/private/
/ImageEditor2/build/
/Tarea3/nbproject/private/
/Tarea3/build/
*.log